.ant-select-selection {
    border-radius: 2px !important;
    background-color: #F2F2F2 !important;
    color: #858585 !important;
    font-weight: 600 !important;
    font-size: 17px !important;
    border: none !important;
}