.search-card {
    padding: 5px;
//    margin-left: -60px;
//    width: 360px;
    z-index: 3;
    
    
  
   
}

.card {
    border-radius: 2px !important;
}
 
.col-lg-8 {
    color: white;
    position: relative;
    z-index: 3;
   text-align: left;
   justify-content: center;
   align-items: center;
   display: flex;
   
}

.welcome {
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    margin-top: -30px;
}

.what {
    font-weight: 700 !important;
    color: black;
}

.searchicon {
    width: 20px;
    height: 20px;
    color: gray;
}

.input-group-text {
    background-color: white !important;
}

.input-group {
    background-color: white !important;
   
}

.form-control, .addon {
    border-radius: 2px !important;
}