.search-card {
    padding: 5px;
//    margin-left: -60px;
//    width: 360px;
    z-index: 3;
    
  
   
}
 
.col-lg-8 {
    color: white;
    position: relative;
    z-index: 3;
   text-align: left;
   justify-content: center;
   align-items: center;
   display: flex;
   
}

.welcome {
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    margin-top: -30px;
}