.ant-card-body {
    padding: 10px !important;
}

.man-card-text {
    text-align: center;
    padding-top: 10px
 
}

// .ant-card-meta-title {
    
//     font-weight: 600 !important;
   
// }

.cat-img {
    height: 91px;
    width: 89px !important;
    background-color: transparent;
    
}

@media screen and (max-width: 420px) {
    .cat-img {
        height: 80px;
        width: 80px
    }
}

.cat-div:hover  {
    background-color: #408FC6;
    // color: white !important
    
}
.cat-div:hover .ant-card-meta-title {
    color: white !important
}
.cat-div {
    padding-top: 30px !important;
    padding-bottom: 5px !important;
}

.ant-card-meta-title {
    font-size: 20px !important;
    font-weight:  700 !important;
}

@media screen and (max-width: 420px) {
    .ant-card-meta-title {
        font-size: 16px !important;
        font-weight:  500 !important;
    }
}

@media screen and (max-width: 420px) {
    .top-5 {
        top: 427px !important
    }
}



@media screen and (max-width: 420px) {
    .cat-div {
        padding-top: 20px !important;
       
    }
    
}
