.ant-card-body {
    padding: 10px !important;
}

.man-card-text {
    text-align: center;
    padding-top: 10px
 
}

// .ant-card-meta-title {
    
//     font-weight: 600 !important;
   
// }

.cat-img {
    height: 91px;
    width: 89px !important;
    background-color: transparent;
    
}

.cat-div:hover  {
    background-color: #408FC6;
    // color: white !important
    
}
.cat-div:hover .ant-card-meta-title {
    color: white !important
}
.cat-div {
    padding-top: 30px !important;
    padding-bottom: 5px !important;
}