.ant-card-body {
    padding: 10px !important;
}

.card-text {
    text-align: center;
 
}

.ant-card-meta-title {
    
    font-weight: 600 !important;
   
}

.manu-img1 {
    width: 144px !important;;
    height: 109px;
    
    
}


.manu-img2 {
    width: 265px !important;;
height: 57px;
    // margin-left: 4%
   margin-top: 24px
}

.manu-img3 {
    width: 108px !important;;
height: 100px;
    // margin-left: 4%
//    margin-top: 30px
}

.manu-img4 {
    width: 246px !important;
height: 42px;
    // margin-left: 4%
   margin-top: 30px
}

.manu-img5 {
    width: 145px !important;;
height: 145px;
margin-top: -15px
    // margin-left: 4%
//    margin-top: 30px
}

.manu-card {
    background-color: transparent !important
}