.ant-card-body {
    padding: 10px !important;
}

.card-text {
    text-align: center;
 
}

.ant-card-meta-title {
    
    font-weight: 600 !important;
   
}

.cat-img {
    height: 91px;
    width: 89px !important;
    
}