.recent-img {
    width: 360px;
height: 280px;
}

.see-all {
    float: right;
   
    color: #9D9C9A !important;
}

.recent-add-spacing {
    margin-bottom: 24px;
    color: #9D9C9A;
    background-color: none;
    font-size: 18px;
    font-weight: 600;
}

.ant-card {
    border-color: transparent !important;
}

.recent-price {
    color: #408FC6;
  
}

.recent-title {
    font-weight: 700;
    font-size: 20px
}

.recentadd-title {
    font-size: 20px !important;
}