.submit-btn {
    width: 373px !important;
   
    
}

.search {
    margin-left: 50px !important;
}

.first-text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #202B31
}

.submitt {
    margin-left: 10px;
}

.ant-btn {
    border-radius: 0px 2px 2px 0px !important;
    background-color: #408FC6 !important;
    border-color:  #408FC6 !important;
}

.ant-input {
    // border-radius: 4px !important;
    // opacity: 1;
}

.cookies {
    text-decoration: underline;
}