.submit-btn {
    width: 373px !important; 
}

@media screen and (max-width: 420px) {
    .submit-btn {
        width: 100% !important;
    }
}

.search {
    margin-left: 50px !important;
}

.first-text {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #202B31;
    padding-right: 44px !important

}

.ant-btn {
    border-radius: 0px 2px 2px 0px !important;
    background-color: #408FC6 !important;
    border-color:  #408FC6 !important;
    width: 127px;
}

.submitt {
    padding-left: 40px !important;
}


.cookies {
    text-decoration: underline;
}