.bm-burger-button:hover {
    -ms-transform: scale(2,3); /* IE 9 */
    transform: scale(.9); /* Standard syntax */
    
}

@media screen and (max-width: 420px) {
    .new-menu, .bm-icon {
        width: 31px !important;
        height: 29px !important;
    }
}

