#components-dropdown-demo-dropdown-button .ant-dropdown-button {
    margin: 0 8px 8px 0;
  }

  .anticon {
      vertical-align: 0 !important;
  }

  .antbtn {
    
  
        background-color: transparent !important;
        color: #C4D0D9 !important;
        // marginTop: "100px",
        border: 2px solid #C4D0D9 !important;
      
       float: right;
       right: 323px;
       vertical-align: middle;
       margin-top: 3px;
      }
