#components-dropdown-demo-dropdown-button .ant-dropdown-button {
    margin: 0 8px 8px 0;
  }

  .anticon {
      vertical-align: 0 !important;
  }

  .antbtn {
    
  
        background-color: transparent !important;
        color: #E3E3E3 !important;
        // marginTop: "100px",
        // border: 2px solid #C4D0D9 !important;
        border: none !important;
      padding: 0px !important;
       float: right;
       margin-right: 43px;
    //    right: 323px;
    //    vertical-align: middle !important;
       margin-top: 3px;
       font-size: 18px !important;
       font-weight: 600 !important;
       
      }

      .global {
          width: 20px;
          height: 20px;
          margin-right: 7px;
          margin-top: -2px
      }