.outerNav {
    background-color: #314550;
    font-size: 24px;
    padding: 22px 119px;
    color: #E3E3E3;
    font-weight: 600;
}

.circle {
    border: 3px solid #E3E3E3;
    border-radius: 50px;
    width: 30px;
    height: 30px;
   display: inline-block;
   top: 51px;
   vertical-align: middle;

   
}

.title {
    margin-left: 13px;
   vertical-align: middle;
}

.prof {
    width: 36px;
    // position: absolute;
    height: 33px;
    // right: 201.08px;
    float: right;
    margin-right: 83px;
  
    margin-top: 2px;
    vertical-align: middle;
}

.sell {
//    right: 271px;
    float: right;
//    position: absolute;
   font-size: 20px;
   margin-top: 2.5px;
   margin-right: 34.08px;
    // margin-right: 20px;
}

   